:root {
  --primary1: 82, 201, 182;
  --primary2: 28, 162, 164;
  --box-shadow: #bbb;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 150px;
}

body {
  width: 100vw;
  min-width: 300px;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 24px;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
}

.cell-shade {
  color: white;
  text-shadow: -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, 1px 1px 0 #000;
}

.cell-shade-alt {
  color: black;
  text-shadow: -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 1px 1px 0 #fff;
}

.gradient-text {
  background: linear-gradient(rgb(var(--primary1)) 0%, rgb(var(--primary2)) 100%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  line-height: 1.5;
}

/* NAVIGATION BAR */

.nav {
  top: 0;
  z-index: 2;
  position: sticky;
  background: white;
  border-bottom: 3px solid black;
  box-shadow: 0 0px 10px grey;
  color: black;
}

.nav::before {
  content: "";
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: radial-gradient(#d0d0d0 2.5px, transparent 2.5px);
background-size: 30px 30px;
background-color: rgba(255, 255, 255, 0);
}

.nav::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(255,255,255);
  background: linear-gradient(-45deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.3) 100%);
}

.nav ul {
  width: 550px;
  min-height: 70px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .nav ul {
    width: 100%;
    padding: 20px 0;
    display: grid;
    justify-content: center;
    row-gap: 20px;
  }
  .nav li {
    text-align: center;
    flex-basis: 100%;
  }
}

.nav li {
  position: relative;
  transition: transform 500ms;
}

.nav li:hover {
  background: linear-gradient(rgb(var(--primary1)) 0%, rgb(var(--primary2)) 100%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  top: 20px;
  left: 40%; 
  background: linear-gradient(90deg, rgba(var(--primary2), 1), rgba(var(--primary1), 1));
  transition: all 500ms;
}

.nav li:hover::before {
  width: 60%;
  transform: translateX(-40%);
}

.nav li a:active {
  transform: scale(0.9);
}

.nav a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

/* HERO + HEADSHOT */

.hero {
  position: relative;
  height: 250px;
  width: 100%;
  background-image:  repeating-radial-gradient(circle at 50% 100%, transparent 0, rgba(var(--primary2), 0.5) 60px), linear-gradient(180deg, rgba(var(--primary1), 0.8), rgba(var(--primary2), 1));
  border-bottom: 3px solid black;
}

.img-box {
  position: absolute;
  width: 80%;
  max-height: 300px;
  max-width: 300px;
  z-index: 1;
  left: 50%;
  top: 40%;
  border-radius: 50%;
  transform: translateX(-50%);
}

.picture {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 5px 10px black;
  object-fit: cover;
  transform: scale(1);
  transition: transform 500ms;
}

.img-box:hover > .picture {
  transform: scale(.95);
}

.hero-text {
  --hero-text-size: 48px;

  visibility: visible;
  position: absolute;
  height: 200px;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 900px) {
  .hero-text {
    --hero-text-size: 32px;
  }
}

.hero-text h1 {
  margin: 0;
  font-size: var(--hero-text-size);
}

.hero-text1 {
  top: calc(100% - (2 * var(--hero-text-size)));
  color: black;
}

.hero-text2 {
  top: calc(100% - var(--hero-text-size));
  color: white;
}

.hero-text h1 {
  position: absolute;
}

.hero-text1 h1:nth-child(1) {
  right: calc(50% + 140px);
}

.hero-text1 h1:nth-child(2) {
  left: calc(50% + 140px);
}

.hero-text2 h1:nth-child(1) {
  right: calc(50% + 150px);
}

.hero-text2 h1:nth-child(2) {
  left: calc(50% + 150px);
}

/* HERO TEXT FOR SMALL SCREENS */

.hero-text-alt {
  visibility: hidden;
  width: 0;
  height: 0;
  max-width: 1000px;
  margin: 180px auto 0 auto;
  padding: 0;
  text-align: center;
}

@media (max-width: 700px) {
  .hero-text-alt {
    visibility: visible;
    width: 100%;
    height: fit-content;
  }
  .hero-text {
    visibility: hidden;
  }
}

.hero-text-alt h1 {
  font-size: 32px;
  margin: 10px;
  line-height: 0.8;
}

.hero-text-alt :nth-child(1) {
  font-size: 48px;
}

.hero-text-alt hr {
  margin: 40px 40px 10px 40px;
  border: 1px solid black;
}

/* MAIN CONTENT */

.content {
  width: 70%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .content {
    width: 80%;
  }
}

.content > div {
  position: relative;
  width: 100%;
  margin: 20px auto;
}

.content > div > h1 {
  margin: 40px auto 40px auto;
  width: fit-content;
}

.content > div h1 {
  font-size: 36px;
}

/* ABOUT */

#about p {
  border: 2px solid none;
  margin: 0 auto;
  width: 75%;
}

@media (max-width: 700px) {
  #about p {
    width: 100%;
  }
}

.social-links {
  max-width: 500px;
  margin: 50px auto 0px auto;
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
  column-gap: 50px;
  padding: 0;
  list-style: none;
}

@media (max-width: 500px) {
  .social-links {
    width: 100%;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .social-links li {
    flex-basis: 100%;
    width: fit-content;
  }
}

.social-links li img {
  width: 60px;
  height: 60px;
  filter: drop-shadow(-2px 5px 2px #aaa);
}

.social-links li img:hover {
  animation: wiggle 500ms;
}

@keyframes wiggle {
  25% {
    transform: rotate(3deg) scale(1.05);
  }
  50% {
    transform: rotate(-5deg) scale(1.05);
  }
}


/* SKILLS */

.skills-container {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  row-gap: 20px;
}

.skills-container > div {
  width: 100%;
  flex-basis: 100%;
}

.skills-container > div > h2 {
  z-index: 0;
  position: relative;
  background: none;
  width: fit-content;
  padding: 10px 30px;
  margin: 0 0 15px -50px;
}

@media (max-width: 500px) {
  .skills-container > div > h2 {
    margin: 0 auto 15px auto;
  }
}

.skills-container > div > h2::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  box-shadow: 0 5px 10px #bbb;
  transform: skew(15deg);
}

.skills-list {
  background: linear-gradient(white, white) padding-box,
              linear-gradient(175deg, rgba(var(--primary1), 0.7), rgba(var(--primary2), 0.7)) border-box;
  border-radius: 10px;
  border: 3px solid transparent;
  margin-top: -40px;
  padding: 50px 20px;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 0 10px rgba(var(--primary1), 0.5);
}

/* PROJECTS */

.card-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
}

.card {
  position: relative;
  width: 320px;
  text-align: left;
  border-radius: 10px;
  background: white;
  box-shadow: 0 5px 10px #bbb;
  padding: 0 20px 10px 20px;
  border: 3px solid black;
  outline: 3px solid none;

  transition: transform 250ms ease-in-out;
}

.card:hover {
  outline: 3px solid black;
  border: 3px solid white;
  transform: scale(0.97);
}

.card-header {
  min-height: 20px;
  width: calc(100% + 1*(20px));
  margin: 0 0 0 -20px;
  padding: 0 0 0 20px;
  border-radius: 6px 6px 0 0;

  background-image:  repeating-radial-gradient(circle at 100% 0, transparent 0, rgba(var(--primary2), 0.5) 32px), linear-gradient(195deg, rgba(var(--primary1), 0.8) 0%, rgba(var(--primary2), 1) 80%);
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow-x: hidden;

}

.card-header h2 {
  margin: 40px 0 15px 0;
}

.card ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
  justify-content: left;
}

.card li {
  background: black;
  color: white;
  border-radius: 10px;
  padding: 5px 8px;
}

.card p, .card li {
  font-size: 12px;
}

.card a::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/* CONTACT */

