:root {
  --primary1: 82, 201, 182;
  --primary2: 28, 162, 164;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 4rem;
}

body {
  font-family: Consolas;
  margin: 0;
}

h1 {
  font-size: 24px;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
}

.cell-shade {
  color: white;
  text-shadow: -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, 1px 1px 0 #000;
}

.cell-shade-alt {
  color: black;
  text-shadow: -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 1px 1px 0 #fff;
}

p {
  line-height: 1.5;
}

/* NAVIGATION BAR */

.nav {
  top: 0;
  z-index: 2;
  position: sticky;
  background: white;
  font-size: 20px;
  border-bottom: 3px solid black;
  box-shadow: 0 0px 10px grey;
  color: black;
}

.nav ul {
  width: 550px;
  min-height: 70px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.nav li {
  position: relative;
  transition: transform 500ms;
}

.nav li:hover {
  background: linear-gradient(rgb(var(--primary1)) 0%, rgb(var(--primary2)) 100%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  top: 25px;
  left: 40%; 
  background: linear-gradient(90deg, rgba(var(--primary2), 1), rgba(var(--primary1), 1));
  transition: all 500ms;
}

.nav li:hover::before {
  width: 60%;
  transform: translateX(-40%);
}

.nav li:active {
  transform: scale(0.9);
}

.nav a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

/* HERO + HEADSHOT */

.hero {
  position: relative;
  height: 250px;
  width: 100%;
  background-image:  repeating-radial-gradient(circle at 50% 100%, transparent 0, rgba(var(--primary2), 0.5) 60px), linear-gradient(180deg, rgba(var(--primary1), 0.8), rgba(var(--primary2), 1));
  border-bottom: 3px solid black;
}

.img-box {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 40%;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  transform: translateX(-50%);
}

.picture {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 5px 10px black;
  object-fit: cover;
  transform: scale(1);
  transition: transform 500ms;
}

.img-box:hover > .picture {
  transform: scale(.95);
}

.hero-text {
  position: absolute;
  height: 200px;
  width: 100%;
  overflow: hidden;
  --hero-text-size: 48px;
}

.hero-text1 {
  top: calc(100% - (2 * var(--hero-text-size)));
  color: black;
}

.hero-text2 {
  top: calc(100% - var(--hero-text-size));
  color: white;
}

.hero-text h1 {
  margin: 0;
  font-size: var(--hero-text-size);
  font-family: Helvetica;
}

.hero-text h1:nth-child(1) {
  position: absolute;
  right: calc(50% + 150px);
}

.hero-text h1:nth-child(2) {
  position: absolute;
  left: calc(50% + 150px);
}

/* MAIN CONTENT */

.content {
  width: 70%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 150px auto;
}

.content > div {
  width: 100%;
}

.content > div > h1 {
  margin: 60px auto;
  width: fit-content;
}

.content > div h1 {
  font-size: 36px;
}

/* ABOUT */

#about p {
  border: 2px solid none;
  margin: 0 auto;
  width: 80%;
}

.social-links {
  width: fit-content;
  margin: 50px auto 0px auto;
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
  column-gap: 50px;
  padding: 0;
  list-style: none;
}

.social-links li img {
  width: 60px;
  height: 60px;
  filter: drop-shadow(-2px 5px 2px #aaa);
}

.social-links li img:hover {
  animation: wiggle 500ms;
}

@keyframes wiggle {
  25% {
    transform: rotate(3deg) scale(1.05);
  }
  50% {
    transform: rotate(-5deg) scale(1.05);
  }
}


/* SKILLS */

.skills-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 80px;
  margin: 60px 0;
}

.skills-container > div {
  width: 100%;
  height: 100px;
}

.skills-container > div > h2 {
  z-index: 0;
  position: relative;
  background: none;
  width: fit-content;
  padding: 10px 30px;
  margin-left: -50px;
}

.skills-container > div > h2::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  box-shadow: 0 5px 10px #bbb;
  transform: skew(20deg);
}

.skills-list {
  background: linear-gradient(white, white) padding-box,
              linear-gradient(175deg, rgba(var(--primary1), 0.7), rgba(var(--primary2), 0.7)) border-box;
  border-radius: 10px;
  border: 3px solid transparent;
  margin-top: -40px;
  padding: 50px 20px;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 0 10px rgba(var(--primary1), 0.5);
}

/* PROJECTS */

.card-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
}

.card {
  position: relative;
  width: 350px;
  text-align: left;
  border-radius: 10px;
  background-image:  repeating-radial-gradient(circle at 100% 0, transparent 0, rgba(var(--primary2), 0.5) 32px), linear-gradient(195deg, rgba(var(--primary1), 0.8) 0%, rgba(var(--primary2), 1) 80%);
  background-size: 100% 65px;
  background-position: 0 0;
  background-repeat: no-repeat;
  box-shadow: 0 5px 10px #bbb;
  padding: 0 20px 10px 20px;
  border: 3px solid black;
  outline: 3px solid none;
  transition: transform 250ms ease-in-out;
}

.card:hover {
  outline: 3px solid black;
  border: 3px solid white;
  transform: scale(0.97);
}

.card h2 {
  margin: 30px 0 25px 0;
}

.card ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
  justify-content: left;
}

.card li {
  background: black;
  color: white;
  border-radius: 10px;
  padding: 5px 8px;
}

.card p, .card li {
  font-size: 12px;
}

.card a::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/* CONTACT */

